### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Ignore IntelliJ project files
.idea/
*.iml

# Ignore compiled files
target/git
*.class

# Ignore logs and temporary files
logs/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

